<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li *ngFor="let item of slider" [ngClass]="{'active': item.isDataSlide}"
        data-target="#carouselExampleIndicators" attr.data-slide-to="{{item.index}}"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <!-- Slide One - Set the background image for this slide in the line below -->
    <div class="carousel-item" *ngFor="let item of slider" [ngClass]="{'active': item.isDataSlide}"
         [ngStyle]="{'background-image': ' url(' + item.imgUrl + ')'}">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="display-4">{{item.headerText}}</h2>
        <p class="lead">{{item.text}}</p>
        <a class="slider-button" (click)="navigate(item.link)">Navigate</a>
      </div>
    </div>
  </div>
</div>
