<div class="body">
  <div class="container">
    <div class="row">
      <p class="head" style="width: 100%">Our team</p>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-4">
            <img src="http://onpera.com/images/male.png" alt="">
          </div>
          <div class="col-lg-8">
            <p class="head">
              Sinan Coskun
            </p>
            <p class="text">
              CEO
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">

      </div>
    </div>
  </div>
</div>
