.body{
  margin-top: 120px;
  height: 100%;
  font-size: 16px;
  min-width: 320px;
  font-weight: 400;
  line-height: 1.7;
  color: #4f5862;
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .head{
    margin-top: .6em;
    font-size: 18px;
    display: inline-block;
    border-bottom: 1px dashed #66717e;
  }
  .text{
    font-size: 16px;
    margin: 0 0 1em;
  }
}
