<div class="body">
  <div class="container">
    <div class="row">
      <p class="head">
        About Us
      </p>
    </div>
    <div class="row">
      <p class="text">
        Onpera Technologies is a professional services company that offers a rich pallet of solutions designed for
        increased business productivity and efficiency. We developed our solutions according to your business needs and
        with the end-users in mind.
        <br>
        Our services portfolio is not what makes us different. What makes us different is who we are and how we provide
        the services to our clients.
        <br>
        We strive to be a flexible organization as a whole. Starting from the leadership team, to all support functions,
        we are all working as much as possible. That allows us not only to deliver projects as well but be a strong
        organization as a whole.
        <br>
        We’ve built Onpera around a strong culture of trust that values people and interpersonal connections over
        processes and tools. At the same time, we add intimacy into building close customer relationships that grow into
        long-term partnerships instead of making short contract negotiations.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-8">
        <p class="head">Software Development</p>
        <p class="text">
          Starting as early as you have an idea, we work with you to analyze, build, design, and release a final product
          to market. We’re focused on understanding your users’ needs, validating hypotheses quickly, reducing risks,
          and continually improving our processes to ensure highly efficient and fluid product development life cycle.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-8">
        <p class="head">QA / Testing</p>
        <p class="text">Reduce high downtime cost between releases and avoid lack of testing effort during project peak
          loads with the help of a software testing service that allows you to easily scale testing capacity. You can
          reduce your downtime costs and effectively cover your project peak loads with the help of a dedicated
          outsourced software testing team. Our accredited professionals, when assigned to your project, will share your
          goals and keep the knowledge about your product long-term, while you get unbiased results and a smooth
          effective software testing process.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-8">
        <p class="head">IT Consulting</p>
        <p class="text">
          The results of implementing the recommendations of consulting on IT:
        </p>
      </div>
    </div>
  </div>
</div>
