<div class="container">
  <div class="row ">
    <form class="w-100">
      <div class="form-group">
        <label>User email</label>
        <input type="text" class="form-control" placeholder="User E-mail">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
        <label>Re-Password</label>
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-outline-secondary">Submit</button>
      <a class="btn btn-outline-secondary ml-1" (click)="navToLogin()">Login</a>
    </form>
  </div>
</div>
